#listeDiv{
    position: absolute;
    top: 50px;
    left: 50px;
}

#img{
    position: absolute;
    left: 190px;
    width:1000px;
    
}

#main {
    position: absolute;
    left: 250px;
    top: 50px;
}

#asia{
    position: absolute;
    border: solid 1px black;
    right: -960px;
    top: 100px;
    width: 320px;
    height: 257px;
   
}

#afrika{
    position: absolute;
    border: solid 1px teal;
    width: 150px;
    left: 660px;
    top: 300px;
    height: 300px;
    border-radius: 40%;
    transform: rotate(-41deg);
    
    

}

#europa{
    position: absolute;
    border: 1px solid rgb(223, 157, 167);
    width: 200px;
    left: 630px;
    height: 220px;
    top: 100px;

}
#NA{
    position: absolute;
    border: solid 1px rebeccapurple;
    top: 100px;
    width: 400px;
    left: 220px;
    height: 300px;
}
#SA{position: absolute;
    border: solid 1px salmon;
    top: 400px;
    width: 200px;
    left: 400px;
    height: 300px;

}
#oseania
{ position: relative;
    border: solid 1px red;
    width: 200px;
    left: 921px;
    height: 300px;
    top: 367px;
}


#demo{
    position: absolute;
    left: 600px;
    color: white;
    top: 250px;
}